body{
    display: flex;
    flex-direction: column;
    background-color: grey;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color:  rgba(0, 0, 255, 0.178);
}
header{
    border: 2px solid black;
    height: 70px;
    width: inherit;
}